<% if @mission.errors.present? %>
  <ul>
    <% @mission.errors.each do |error, message| %>
      <li>
        <%= t("#{error} ") + t('missions.validate.error') + " #{message}" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(mission) do |m| %>
  <div class="form-group">
    <%#= m.label :name, t('form.name') %>
    <%#= m.text_field :name  %>
    <%= m.input :name, error: '', hint: t("missions.hint") %>
  </div>

  <div class="form-group">
    <%= m.input :priority %>
  </div>
  
  <div class="form-group">
    <%= m.input :status %>
  </div>
  
  <div class="form-group">
    <%= m.input :start_time, as: :date, html5: true %>
  </div>
  
  <div class="form-group">
    <%= m.input :complete_time, as: :date, html5: true %>
  </div>

  <div class="form-group">
    <%= m.input :description, placeholder: t("missions.placeholder") %>
  </div>

  <div class="form-group">
    <%= m.submit t("Confirm") %>
  </div>
  
<% end %>