<%= simple_form_for(@mission) do |m| %>
  <div class="form-group col-sm-6">
    <%#= m.label :name, t('form.name') %>
    <%#= m.text_field :name  %>
    <%= m.input :name %>
  </div>

  <div class="form-group col-sm-6">
    <%= m.input :priority %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= m.input :status %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= m.input :start_time %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= m.input :complete_time %>
  </div>
  
  <div class="form-group">
    <%= m.submit t("Confirm") %>
  </div>
  
<% end %>