<h1>Mission list here</h1>

<%= link_to "new mission", new_mission_path %>

<table>
  <thead>
    <tr>
      <td>任務名稱</td>
      <td>優先次序</td>
      <td>任務狀態</td>
      <td>開始時間</td>
      <td>截止時間</td>
      <td>功能</td>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
    <tr>
      <td> <%= mission.name %></td>
      <td> <%= mission.priority %></td>
      <td> <%= mission.status  %></td>
      <td> <%= mission.start_time %></td>
      <td> <%= mission.complete_time %></td>
      <td>
        <%= link_to "編輯", edit_mission_path(mission)%>
        <%= link_to "刪除", mission_path(mission), method: "delete", data: { confirm: "are you sure?"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>