<h1><%= t("mission.list")%></h1>

<%= link_to t("mission.new"), new_mission_path, class:"btn btn-sm btn-success" %>

<%= search_form_for @q do |f| %>
  <%= f.label :name, t('mission.name') %>
  <%= f.search_field :name_cont %>

  <%= f.label :status, t('mission.status') %>
  <%= f.search_field :status_eq %>

  <%= f.submit %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <td><%= t("mission.name") %> </td>
      <td><%= sort_link(@q, :priority) %>
        <%#= t("mission.priority") %> </td>
      <td><%= sort_link(@q, :status) %>
        <%#= t("mission.status") %> </td>
      <td><%= sort_link(@q, :start_time) %>
        <%#= t("mission.start_time") %> </td>
      <td><%= sort_link(@q, :complete_time) %>
        <%#= t("mission.complete_time") %> </td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
    <tr>
      <td> <%= mission.name %></td>
      <td> <%= t("enums.status.#{mission.priority}") %></td>
      <td> <%= t("enums.status.#{mission.status}")  %></td>
      <td> <%= mission.start_time %></td>
      <td> <%= mission.complete_time %></td>
      <td>
        <%= link_to t("button.edit"), edit_mission_path(mission), class:"btn btn-lx btn-warning"%>
        <%= link_to t("button.delete"), mission_path(mission), method: "delete", data: { confirm: "are you sure?"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>